
div#Concontraseña{

	color: #82B9FF;
	padding: 0px;
	background-color: #6F7B8A;
	width: 450px;
	height: 600px;
	margin: 80px auto; 
	border-radius: 30px;
	position: relative;
	z-index: 1;
}

.icono{

	height: 191px;
	width: 217px;
	position: relative;
	display: block;
	margin: -630px auto; 
	left: 10px;
	z-index: 99;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Satisfy', cursiva;
	
}

.tituloinicio{

	color: #6F7B8A;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-transform: none;
	position: relative;
	margin: 0px auto;
	left: 0px;
	top: 0px;
	z-index: 100;
	font-size: 39px;
}